@{
    ViewData["Title"] = "首页";
}

    <div class="text-center">
        <p>欢迎使用路桥检测研究所桥隧项目管理系统!</p>
        <p>
            通知：新员工没有账户请通知管理员创建账户（账户是从检测公司答题系统或旧版本项目管理系统导入）
        </p>
        <p>
            权限说明：
            默认：查看自己的产值
            经营组：录入合同、查询所有人产值、确认合同是否完成
            项目负责人：分配自己负责合同的产值
            特殊：王永祯确认产值分配合理性

        </p>
    </div>
