@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <p>欢迎使用路桥检测研究所桥隧项目管理系统!</p>
    <p>3.0版本重大更新：项目产值不再按标准产值计算，直接按合同额进行计算。</p>
</div>

<div class="alert alert-primary">
    关于系统账户：
</div>
<div>
    <p>
        1、直接使用“检测公司答题系统”账户进行登录。<br />
        2、新员工没有账户请通知管理员创建账户（账户是从检测公司答题系统或旧版本项目管理系统导入）。<br />
    </p>
</div>
<div class="alert alert-primary">
    系统主要运转流程：
</div>
<div>
    <p>
        1、项目负责人将合同交给经营组进行录入（应说明期限、承接人等信息）；<br />
        2、经营组将合同录入系统（操作流程：合同/项目管理=>添加合同/项目）；<br />
        3、项目负责人带领团队完成整个合同的内容并出具所有应出具的报告后，在系统中分配产值，并提交产值分配申请；<br />
        （操作流程：合同/项目管理=>找到自己的合同=>详细=>添加产值分配人员=>分配完成后，申请分配产值）；<br />
        4、经营组确认该合同所属的报告均出具后，在系统中进行确认（操作流程：校核=>确认已校核合同）；<br />
        5、审核人员确认产值分配的合理性后，在系统中进行确认（操作流程：审核=>确认已校核合同）；<br />
        6、可以在“我的产值”中查看本人所做检测项目的产值，或者在“产值详细列表”和“产值汇总”中查看他人产值（需要权限）。<br />
    </p>
</div>
<div class="alert alert-primary">
    各人在系统中的主要分工：
</div>
<div>
    <p>
        1、经营组：录入合同，校核合同是否完成；<br />
        2、项目负责人：分配产值，并提交产值分配申请；<br />
        3、检测项目综合负责人：确认产值分配的合理性；<br />
        4、其它检测项目参与人员：可以定期在系统中查看自己分配到的产值
    </p>
</div>
<div class="alert alert-primary">
    权限说明：
</div>
<div>
    <p>
        经营组：录入、修改合同、确认合同是否完成；<br />
        项目负责人：分配自己负责合同的产值；<br />
        检测项目综合负责人：王永祯确认产值分配合理性、查询所有人产值；<br />
    </p>
</div>