@{
    ViewData["Title"] = "隐私策略";
}
<h3>@ViewData["Title"]</h3>

<p>
    Cookie的使用<br />
    a) 在您未拒绝接受cookies的情况下，我们会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的我们平台服务或其它功能。<br />
    b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的我们网络服务或功能。 
</p>