@*
    分页标签分布视图
*@
@model PagingViewModel

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Input and Submit elements -->
    <!--min="1" max="@Model.PagingInfo.TotalPages"-->
    每页显示<input asp-for="PagingInfo.ItemsPerPage" style="width:50px"> 条，当前第@{@Html.DisplayFor(p => p.PagingInfo.CurrentPage)}页，共@{@Html.DisplayFor(p => p.PagingInfo.TotalItems)}条记录，共@{@Html.DisplayFor(p => p.PagingInfo.TotalPages)}页，<button type="button" onclick="GotoPreviousPage(this)">上一页</button> 第<input asp-for="PagingInfo.CurrentPage" style="width:50px"> 页<button type="button" onclick="GotoNextPage(this)">下一页</button>，<button name="PagingInfo_Submit" type="submit">Go</button>

    <!-- 生产环境注释以下两句-->
    <span asp-validation-for="PagingInfo.ItemsPerPage" class="text-danger"></span>
    <span asp-validation-for="PagingInfo.CurrentPage" class="text-danger"></span>
</div>
