@model CreateUserContractViewModel
<table class="table table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(x => x.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Labor)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Ratio)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Amount)
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>

            <td class="form-group">
                <input asp-for="UserId" class="form-control" hidden />

                <input id="selectButton" type="button" data-toggle="modal" data-target="#select_id" value="选择职工" />
                <input asp-for="StaffName" class="form-control" readonly />
                <input asp-for="ContractId" class="form-control" hidden />
            </td>
            <td class="form-group">

                <select asp-for="Labor" asp-items="Html.GetEnumSelectList<Labor>()" class="form-control"></select>
                <span asp-validation-for="Labor" class="text-danger"></span>
            </td>
            <td class="form-group">
                <input asp-for="Ratio" placeholder="例:0.35" class="form-control" />
            </td>
            <td class="form-group">
                <input asp-for="Amount" placeholder="自动计算" class="form-control" readonly />
            </td>
            @*<td class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </td>*@
        </tr>
        <tr>

            <td class="form-group"></td>
            <td class="form-group">
                <span asp-validation-for="Labor" class="text-danger"></span>
            </td>
            <td class="form-group">
                <span asp-validation-for="Ratio" class="text-danger"></span>
            </td>
            <td class="form-group"></td>


        </tr>
    </tbody>
</table>