@model EditContractViewModel
@{
    ViewData["Title"] = "编辑";
}
<script>
    //获取id,工号,姓名
    //$(document).ready(function () {
    //    $('#selectResonpseStaffButton').on('click', function () {
    //        Id = $(":input:radio:checked").map(function () {
    //            return $(this).parent().siblings('td').eq(0).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容
    //        }).get();   // 获取内容数组并拼接为字符串

    //        No = $(":input:radio:checked").map(function () {
    //            return $(this).parent().siblings('td').eq(2).text();
    //        }).get();

    //        Name = $(":input:radio:checked").map(function () {
    //            return $(this).parent().siblings('td').eq(3).text();
    //        }).get();

    //        $("#ResonpseStaffId").attr("value", $.trim(Id));
    //        $("#ResonpseStaffName").attr("value", Name);

    //        console.log(Id)
    //        console.log(No)
    //        console.log(Name)

    //    });
    //});

    $(document).ready(function () {
        $('#selectUserButton').on('click', function () {

            var item = $("#selectUserButton").attr("data-whatever");

            Id = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(0).text();  // 根据checkbox定位到后面的td，然后使用text()函数获取内容
            }).get();   // 获取内容数组并拼接为字符串

            No = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(2).text();
            }).get();

            Name = $(":input:radio:checked").map(function () {
                return $(this).parent().siblings('td').eq(3).text();
            }).get();

            var itemId
            var itemName

            if (item == 'selectAcceptUserButton') {
                itemId = "#AcceptUserId";
                itemName = "#AcceptUserName";
            }
            else {
                itemId = "#UserId";
                itemName = "#UserName";
            }

            console.log(itemId)
            console.log(itemName)

            $(itemId).attr("value", $.trim(Id));

            $(itemName).attr("value", $.trim(Name));

        });
    });



</script>

<!-- /.modal -->
<script>
    //修改Id
    $(function () {
        $('#popup_id').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)

            console.log(recipient)  //调试
            console.log($(":button.btn.btn-primary").attr("data-whatever"))    //before

            modal.find(':button.btn.btn-primary').attr("data-whatever", recipient)

            console.log($(":button.btn.btn-primary").attr("data-whatever"))
        })
    });
</script>

<a asp-action="Index" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i> 返回合同列表</a>
<div>

    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" />
        <div class="row form-group ">
            <label asp-for="Name" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-md-4">
                <textarea asp-for="Name" class="form-control" />@Html.DisplayFor(x => x.Name)</textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="No" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-7 col-md-4">
                <input asp-for="No" class="form-control" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group ">
            <label asp-for="JobContent" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-md-4">
                <textarea asp-for="JobContent" class="form-control" />@Html.DisplayFor(x => x.JobContent)</textarea>
                <span asp-validation-for="JobContent" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="Amount" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-7 col-md-4">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="SignedDate" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-7 col-md-4">
                <input asp-for="SignedDate" class="form-control" />
                <span asp-validation-for="SignedDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="Deadline" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-7 col-md-4">
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="FinishDateTime" class="col-4 col-md-2 col-form-label control-label font-weight-bold"> </label>
            <div class="col-7 col-md-4">
                <input asp-for="FinishDateTime" class="form-control" />
                <span asp-validation-for="FinishDateTime" class="text-danger"></span>
            </div>
        </div>


        <div class="row form-group">
            <input asp-for="UserId" type="hidden" class="form-control" />
            <div class="col-md-2">
                <input id="UserButton" class="btn btn-primary" type="button" data-toggle="modal" data-target="#popup_id" data-whatever="selectUserButton" value="选择负责人" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <label asp-for="UserName" class="control-label font-weight-bold col-md-1"></label>
            <input asp-for="UserName" class="form-control col-md-3 text-left" readonly />
        </div>

        <div class="row form-group">
            <input asp-for="AcceptUserId" type="hidden" class="form-control" />
            <div class="col-md-2">
                <input id="AcceptUserButton" class="btn btn-primary" type="button" data-toggle="modal" data-target="#popup_id" data-whatever="selectAcceptUserButton" value="选择承接人" />
                <span asp-validation-for="AcceptUserId" class="text-danger"></span>
            </div>
            <label asp-for="AcceptUserName" class="control-label font-weight-bold col-md-1"></label>
            <input asp-for="AcceptUserName" class="form-control col-md-3 text-left" readonly />
        </div>

        <div class="form-group">
            <input type="submit" value="编辑" class="btn btn-success" />
        </div>
    </form>

</div>

<!-- 模态框 -->
<div class="modal fade" id="popup_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">请选择职工</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">

                    <form asp-area="" asp-controller="User" asp-action="SelectList"
                          data-ajax="true"
                          data-ajax-mode="replace"
                          data-ajax-loading="#localLoading"
                          data-ajax-loading-duration=1000
                          data-ajax-update="#ajaxSelectStaffBody"
                          method="get">
                        <partial name="UserSelectQueryPartial" model='new QueryPagingViewModel<UserSelectQuery>()'>
                            <div id="ajaxSelectStaffBody" class="row">

                            </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <div style="display: inline-block">
                    <button id="selectUserButton" class="btn btn-primary" data-dismiss="modal" data-whatever="">选择</button>
                </div>
                <div style="display: inline-block">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}