@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "忘记密码确认";
}

<h1>@ViewData["Title"]</h1>
<p>
    请登录您的邮箱，根据邮件中的提示来找回密码，重置密码邮件可能在“垃圾邮件”或者“广告邮件”中。可能要等数分钟才能收到邮件。
</p>
<p>
    若该功能异常导致无法使用，请联系管理员找回密码。
</p>