
@{
    ViewData["Title"] = "后台管理";
}

<h3>@ViewData["Title"]</h3>

<div class="container">
    <ul class="nav nav-tabs">

        <li class="nav-item">
            <a class="nav-link" asp-area="Dev" asp-controller="User" asp-action="Index">用户管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Dev" asp-controller="Role" asp-action="Index">角色管理</a>
        </li>
    </ul>

</div>

